
<div class="row row-cols-1 row-cols-md-2 g-4">
  
    <div class="col">
      <div class="card">
        <img src="../../../assets/conan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conan</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptas sapiente voluptatem ratione veniam excepturi quae laboriosam qui rerum fugit.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/conan2.jpg" class="card-img-top" alt="erreur">
        <div class="card-body">
          <h5 class="card-title">Conan</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ullam nemo reprehenderit veritatis eaque dolorem quis totam quisquam error labore!</p>
        </div>
      </div>
    </div>
  </div>
